@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Single+Day&display=swap');    



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


        /* LOADER  */

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
 



        /* LOADER  */


#image-heading {
    /* width: 100%; */
    height: 100px;
    /* border: solid 2px red; */
}

/* #image-heading img {
} */

h1 {
    text-align: center;
    font-size: 5em;
    font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;

}

#search-form {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    /* border: solid 2px chartreuse; */

} 

#search-form > video {
    margin-top: 25em;
    overflow: hidden;
    position: fixed;
    z-index: -100;
    /* max-width: max-content; */
    /* height: 99vh; */
    /* max-height: max-content; */
    height: 90em;
    width: 99vw;


    /* make this video absolute .. it should look like it is at the back and all the above content are above so when we scroll the video doesnot get scrolled but the content does.  */
}

#search-field {
    height: 60%;
    width: 20%;
    border-radius: 20px;
    font-size: 1.7em;
    padding-left: 0.5em;
    color: red;
    /* background-color: red; */


}

        /* SEARCH BUTTON  */

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}


#search-button:active {
    transform: scale(0.9);
    transition: all 100ms ease;
}
  
#search-button svg {
    transition: all 0.5s ease;
    z-index: 2;
}
  
.play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
}
  
#search-button:hover svg {
    transform: scale(3) translate(50%);
}
  
.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
}
  
#search-button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
}
  
#search-button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}

        /* SEARCH BUTTON  */
  


#select-container {
    height: 80px;
    width: 100%;
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

        /* FILTER BUTTON  */

.buttons {
display: flex;
justify-content: space-around;
top: 20px;
left: 20px;
}


.buttons button {
width: 150px;
height: 50px;
background-color: white;
margin: 20px;
color: #568fa6;
position: relative;
overflow: hidden;
font-size: 14px;
letter-spacing: 1px;
font-weight: 500;
text-transform: uppercase;
transition: all 0.3s ease;
cursor: pointer;
border: 0;
display: flex;
align-items: center;
justify-content: center;
border-radius: 3px;
}

.buttons button:before, .buttons button:after {
content: "";
position: absolute;
width: 0;
height: 2px;
background-color: #44d8a4;
transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
right: 0;
top: 0;
transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
left: 0;
bottom: 0;
}

.buttons button span {
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
margin: 0;
padding: 0;
z-index: 1;
}

.buttons button span:before, .buttons button span:after {
content: "";
position: absolute;
width: 2px;
height: 0;
background-color: #44d8a4;
transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
right: 0;
top: 0;
transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
left: 0;
bottom: 0;
}

.buttons button p {
padding: 0;
margin: 0;
transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
position: absolute;
width: 100%;
height: 100%;
}

.buttons button p:before, .buttons button p:after {
position: absolute;
width: 100%;
transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
z-index: 1;
left: 0;
}

.buttons button p:before {
content: attr(data-title);
top: 50%;
transform: translateY(-50%);
}

.buttons button p:after {
content: attr(data-text);
top: 150%;
color: #44d8a4;
}

.buttons button:hover:before, .buttons button:hover:after {
width: 100%;
}

.buttons button:hover span {
z-index: 1;
}

.buttons button:hover span:before, .buttons button:hover span:after {
height: 100%;
}

.buttons button:hover p:before {
top: -50%;
transform: rotate(5deg);
}

.buttons button:hover p:after {
top: 50%;
transform: translateY(-50%);
}

.buttons button.start {
background-color: #44d8a4;
box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
transition: all 0.2s ease;
}

.buttons button.start p:before {
top: -50%;
transform: rotate(5deg);
}

.buttons button.start p:after {
color: white;
transition: all 0s ease;
content: attr(data-start);
top: 50%;
transform: translateY(-50%);
animation: start 0.3s ease;
animation-fill-mode: forwards;
}

@keyframes start {
from {
    top: -50%;
}
}

.buttons button.start:hover:before, .buttons button.start:hover:after {
display: none;
}

.buttons button.start:hover span {
display: none;
}

.buttons button:active {
outline: none;
border: none;
}

.buttons button:focus {
outline: 0;
}

        /* FILTER BUTTON  */



        
#search-result-container {
    /* border: solid 2px red; */
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    /* padding-top: 5em; */


    /* font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal; */
}


.pokemonCard {
    height:  300px;
    width: 180px;
    border-radius: 0.5em;
    /* border: solid 2px black; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: #a0cf59; */
    box-shadow: 3px 3px 5px 6px #ccc;


}

.pokemonCardOneNumberDiv {
    /* border: solid 2px red; */
    width: 100%;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.7);
}

.pokemonCardOneNumberPara {
    font-weight: 700;
    font-size: 1.4em;
}

.pokemonCardTwoImageDiv {
    /* border: solid 2px red; */
    width: 100%;
    text-align: center;

}


/* .pokemonCardTwoImageImg {
    border: solid 2px red;
    width: 100%;
    text-align: center;

} */

.pokemonCardThreeNameDiv {
    /* border: solid 2px red; */
    width: 100%;
    text-align: center;


    text-transform: capitalize;
    font-style: italic;
    font-weight: 900;
    font-size: 1.4em;
}


.pokemonCardThreeNameSpan {
    border: solid 2px red;

    text-transform: capitalize;
    font-style: italic;
    font-weight: 900;
    font-size: 1.4em;

}

.pokemonCardFourTypeDiv {
    border: solid 2px red;
    border-radius: 20px;
    padding: 0.2em 0.5em;
    /* background-color: #ccc; */
    background-color: rgba( 255, 255, 255, 0.5);
    width: fit-content;
    text-align: center;


}

.pokemonCardFourTypePara {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
}



